.card {
    margin: 10px;
    /* display: flex; */
    /* justify-content: space-around; */
    
    align-items: center;
    padding: 30px;
    background-color: rgb(128, 151, 43);
}

.movies-box {
    padding: 12px;

    @include setWidth($tablet){
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 14px;
    }

    @include setWidth($desktop){
        padding: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 18px;
    }

}

.posterImage {
    margin: 0 auto;
    max-width: 400px;
}
.movieInfo {
    margin: 0 auto;
    max-width: 400px;
}